* {
    box-sizing: border-box;
}

:root {
    --frosted-glass: #ebeaf4;
    --graphite-grid: #1E1E21;
    --pool-tile: #00B8D9;
    --poster-purple: #B794F4;
    --raffle-red: #ED305D;
    --buzz-beam: #FFB400;

}

html {
    font-size: 100%;
}

body {
    margin: 0;
    color: var(--graphite-grid);
    background-color: pink;
}

/*to make consistent space throughout screens*/
.container {
    background-position: center;
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    padding: 1rem;
    min-height: 100vh;
    background: var(--frosted-glass);
}

h1 {
    font-family: "area-extended", sans-serif;
    font-weight: 200;
    font-style: bold;
}

/*logo only on home screen, so its ok to style like this*/
.logo {
    display: block;
    height: 70px;
     margin-bottom: 450px;
}

.top {
    margin-bottom: 450px;
}

/*first screen buttons, create and sign in*/
.landbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 350px;
    font-size: 1rem;
    border-radius: 10px;
    font-family: "area-extended", sans-serif;
    font-weight: 200;
    font-style: bold;
    border: 4px solid var(--graphite-grid);
    border-color: var(--dark-vinyl);
    color: var(--dark-vinyl);
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

.buttonone {
    background-color: var(--pool-tile);
}

.buttontwo {
    background-color: var(--frosted-glass);
}